.monstereyes {
    width: 120px;
    height: 50px;
    margin: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../assets/man/eyes.png"); 
  }


